
.terraform/*
.terraform
.terraform/providers/registry.terraform.io/hashicorp/aws/4.22.0/windows_386/terraform-provider-aws_v4.22.0_x5.exe
*.hcl
.terraform/providers/*

*.tfstate
*.tfstate.*

*.tfvars

